@model IEnumerable<ITS_System.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Booked Classes</h1>

<div class="row">
    <div class="col-12">
        <section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">

<div class="d-flex flex-wrap justify-content-between container-fluid mt-5 ">
    @foreach (var item in Model)
    {
        <div class="card mb-4 col-4 mx-auto">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.TimeStamp)</h5>
                <p class="card-text">
                    <strong>Name:</strong> @Html.DisplayFor(modelItem => item.Attendee.Email) <br />
                    <strong>Class Name:</strong> @Html.DisplayFor(modelItem => item.Class.ClassName) <br />
                    <strong>Booking Status:</strong> @Html.DisplayFor(modelItem => item.Status) <br />
         
                </p>
                <div class="d-flex justify-content-between">
                <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="w-100 btn-danger btn">Delete</a>
            </td>
                </div>
            </div>
        </div>
    }
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>

           
     
