@model IEnumerable<ITS_System.Models.ClassSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Book a class</h1>


    <div class="col-md-12">
        <form asp-action="Index" method="get">
            <div class="input-group mb-3">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-info" type="submit">Search</button>
            </div>

        </form>
    </div>


<div class="d-flex flex-wrap justify-content-between">
    @foreach (var item in Model)
    {
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.DateTime)</h5>
                <p class="card-text">
                    <strong>Name:</strong> @Html.DisplayFor(modelItem => item.ClassName) <br />
                    <strong>Instructor:</strong> @Html.DisplayFor(modelItem => item.Instructor.Email) <br />
                    <strong>Max Booking:</strong> @Html.DisplayFor(modelItem => item.MaxNumbersOfBooking) <br />
                    <strong>Room:</strong> @Html.DisplayFor(modelItem => item.Room.Name) <br />
                    <strong>Status:</strong> @Html.DisplayFor(modelItem => item.Status)
                </p>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-primary w-100" value="Create" asp-action="Create" asp-route-id="@item.Id">Book</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
